# Dependencias
node_modules
npm-debug.log

# Build
dist
build

# Entornos
.env
.env.local
.env.development
.env.production

# Sistema
.git
.gitignore
.DS_Store
.vscode
.idea

# Docker
docker-compose.yml
Dockerfile